body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("midia/background.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
}

#menubar {
    position: absolute;
    width: 95%;
    padding: 20px 40px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.26);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(165, 165, 165);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease; 
}

#bar-title {
    width: 200px;
    height: auto;
    margin-left: 100px;
}

nav {
    display: flex;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-left: 1px;
    border-right: 1px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: translate(0, -5px);
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sobre-nos-title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.sobre-nos-text {
    font-size: 16px;
    line-height: 1.5;
}
