@charset "UTF-8";

@font-face {
    font-family: 'sss';
    src: url('simple_plan/Simple\ Plan.otf') format(opentype);
}

* {
    margin: 0;
}

:root{
    --cor1: rgba(46, 46, 46, 0.603);
    --cor2: rgba(34, 34, 34, 0.411);
    --border: rgba(255, 255, 255, .1);
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(midia/background.jpg);
    background-size: cover;
    background-color: black;
    color: white;
}

#apresentação > p > a {
    display: inline-block;
    color: rgb(255, 70, 70);
    text-decoration: none;
    transition: 0.5s ease-out;
    padding: 2px;
    border-radius: 5px;
}

#inicio {
    text-indent: 10px;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.199);
}

#apresentação > p > a:visited {
    color: rgb(255, 70, 70);
    text-decoration: none;
}

#apresentação > p > a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(255, 70, 70);
    border-radius: 5px;
}

#apresentação {
    border: 2px solid var(--border);
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    backdrop-filter: blur(4px);
    margin: auto;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    min-width: 353px;
    max-width: 950px;
}

#apresentação h1 {
    font-size: 3.3em;
    font-weight: 50;
    font-family: 'sss', Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0px 10px 0px;
}

#apresentação h2 {
    padding: 0 0 35px 0;
}

#apresentação p {
    padding: 10px 0 20px 0;
}

.topico {
    text-indent: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.226), transparent);
    border-radius: 5px;
}

.content {
    text-indent: 40px;
    text-align: justify;
    margin-bottom: 55px;
    padding: 30px;
    word-spacing: 3px;
    line-height: 1.5em;
}

main {
    border: 2px solid var(--border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    display: block;
    padding: 20px;
    border-radius: 8px 8px 8px 8px;
    margin: 20px auto auto auto;
    height: fit-content;
    min-width: 353px;
    max-width: 900px;
    background-color: var(--cor1);
    backdrop-filter: blur(4px);
}

footer {
    background-color: black;
    margin-top: 20px;
    color: rgb(0,255,0);
}

footer p {
    text-align: end;

}

footer a {
    color: rgb(0,255,0);
    text-decoration: underline;
}

.red {
    color: rgb(255, 167, 167);
    text-decoration: none;
    transition: 0.2s;
}

.red:hover {
    color: rgb(255, 93, 93);
}

/* Paginas de Apresentação */

.per {
    margin: 20px auto 20px auto;
    text-align: center;
}

.ft {
    margin: auto;
    background-color: var(--cor1);
    height: 320px;
    width: 245px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
    align-content: center;
}

img {
    background-color: white;
    height: 300px;
}

.desc {
    padding-inline: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.atop {

}

.atop div{
    padding: 60px;
    margin: auto;
    align-items: center;
}